* {
	box-sizing: border-box;
}

.pacific {
    font-family: "Pacifico", cursive;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

.rosado {
    color: #F8809E;
}

.verde {
    color: #16FFBD;
}

/* Header */

.title {
    position: absolute;
    top: 5em;
    left: 26em;
}

.title h1 {
    font-size: 5.2em;
}

.title .study {
    font-size: 2.8em;
}

.header {
    position: relative;
    height: auto;
}

.nav-corner {
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.nav-corner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #16FFBD;
    z-index: -1;
    bottom: : 0;
    transform-origin: left bottom;
    transform: skewY(-8deg);
}

.menu {
    font-size: 1.8em;
}

.content-menu {
    padding: 1.4em;
}

.name {
    width: 100%;
    height: 70vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: -3;
}

.name:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #16FFBD;
    z-index: -4;
    top: 0;
    transform-origin: left bottom;
    transform: skewY(-8deg);
}

.icon-down {
    font-size: 5em;
}

.gif {
    width: 100%;
    height: 35vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: -5;
    background-color: #16FFBD;
}

.gif:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F8809E;
    z-index: -4;
    top: 0;
    transform-origin: left bottom;
    transform: skewY(-8deg);
}

/* About */

.about {
    height: 95vh;
    z-index: -5;
    background-color: #16FFBD;
}

.image{
    background-image: url("../img/paola.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: inset 0px 0px 55px 13px rgba(33,30,30,0.8);
}

.pd-top {
    padding-top: 3.5em;
}

.descrip {
    font-size: 1.4em;
    padding-top: 0.8em;
}

.pd-l {
    padding: 0 3em;
}

.pin {
    padding-top: 1.5em;
}

.pines {
    width: 20%;
}

.badges {
    margin-bottom: 1.2em
}

/* Skills */

.skills {
    background-color: #FFF;
    width: 100%;
    height: 60vh;
    position: relative;
}

.html {
    width: 56%;
}

.css {
    width: 58%;
}

.bootstrap {
    width: 52%;
}

.git {
    width: 64%;
}

.js {
    width: 61%;
}

.jquery {
    width: 58%;
}

.pd-top-skills {
    padding-top: 6.5em;
}

.text-sk {
    font-size: 1.8em;
}

.mg-bt {
    margin-bottom: 2em;
}

/* Projects */

.projects {
    background-color: #16FFBD;
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Footer */

.footer {
    background-color: #080D14;
    width: 100%;
    height: 60vh;
    padding-top: 5em;
}

.footer h3 {
    margin: 0;
}

.contact {
    font-size: 4.5em;
}

.cv {
    background-color: #FFF;
}

.tamanio {
    font-size: 1.5em;
}

.tamanio:hover {
    text-decoration: none;
    color: #16FFBD;
}

.mail {
    width: 10%;
}

/* Menú */

.oculto {
    display: none;
}

.menu:hover  {
    color: #F8809E;
}

.desplegable {
    height: 100vh;
    width: 100%;
    background-color: #16FFBD;
    position: relative;
}

.inline {
    display: inline-block;
}

.remove {
    font-size: 2.8em;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

.idiomas {
    padding-top: 2.5em;
    font-size: 1.5em;
}

.esp {
    color: #000;
}

.esp:hover {
    color: #F8809E;
    text-decoration: none;
}

.eng:hover {
    text-decoration: none;
    color: #F8809E;
}

.lista .decoration {
    margin: 0;
    padding: 0;
}

.decoration li {
    list-style: none;
    margin-bottom: 1.2em;
}

.decoration li a {
    color: #000;
    font-size: 3em;
}

.decoration li a:hover {
    text-decoration: none;
    color: #F8809E;
}

.icon-menu {
    width: 75%;
}

.redes {
    padding-top: 2em;
}

.puntos {
    font-size: 2.8em;
}

.remove:hover {
    color: #F8809E;
}