@media (max-width: 768px) {

	.content-menu {
		width: 100%;
	}

	.title {
	    top: 4.5em;
	    left: 2em;
	}

	.title h1 {
    	font-size: 3em;
	}

	.title .study {
    	font-size: 1.8em;
	}

	.icon {
    	padding-top: 1.5em;
	}

	.name {
		height: 55vh;
	}

	.gif {
		height: 25vh;
	}

	.image {
		width: 180px;
    	height: 180px;
	}

	.descrip {
    	font-size: 1em;
	}

	.about {
		height: 118vh;
	}

	.pines {
		width: 24%;
	}

	.pd-top-skills {
	    padding-top: 3em;
	}

	.text-sk {
	    font-size: 1em;
	}

	.skills {
		height: 55vh;
	}

	.remove {
		font-size: 2em;
	}

	.decoration li a {
	    color: #000;
	    font-size: 2em;
	}

	.contact {
    	font-size: 2.5em;
	}

	.mail {
		width: 20%;
	}

	.correo {
		text-align: center;
		padding-top: 2em;
	}

	.footer {
		padding-top: 2em;
		height: 70vh;
	}

	.pd-fot {
 	   padding-top: 3em;
	}

	.right {
		text-align: center;
	}

	.left {
		text-align: center;
	}

	.padding {
		padding-top: 2em;
	}

	.pdding {
		padding-top: 2em;
		text-align: center;
	}

	.projects {
		height: 105vh;
	}

	.trabajos {
		width: 100%;
	}

	.top-row {
		padding-top: 2.5em;
	}
}

@media (max-width: 991px) {
	
}